@media (max-width: 1825px) {
    .btn-small2 {
        background-color: #3FADD8;
        padding: 13px 9px;
        border-radius: 0px;
        font-size: 0.9rem;
        margin-right: 22px;
        border: 2px solid #3FADD8;
    }
}

@media (max-width: 1600px) {
    .btn-small2 {
        background-color: #3FADD8;
        padding: 13px 9px;
        border-radius: 0px;
        font-size: 0.9rem;
        margin-right: 10px;
    }
}

@media (max-width: 1499px) {
    .btn-small2 {
        background-color: #3FADD8;
        padding: 13px 9px;
        border-radius: 0px;
        font-size: 0.9rem;
        margin-right: 10px;
    }
}

@media (max-width: 1399px) {
    .client-section p {
        font-size: 15px;
        line-height: 37px;
    }

    #old h5 {
        font-size: 28px;
    }

    #bottle-card h4 {
        font-size: 28px;
    }

    .pricing-font {
        font-size: 18px;
    }



    .para-color {
        color: black;
        font-weight: 400;
        font-size: 18px;
    }

    #paragraph p {
        font-size: 15px;
    }

    #old h5 {
        font-size: 28px;
    }

    .header-img h2 {
        font-size: 34px;
        padding-top: 54px;
    }

    .footer-background h3 {
        font-size: 35px;
    }

    .header-img p {
        font-size: 18px;
    }

    .header-img .price {
        color: #F20320;
        font-weight: bold;
        font-size: 70px;
    }

    .header-img .cost-size {
        font-size: 30px;
    }

    .header-img h6 {
        font-size: 18px;
        line-height: 37px;
        font-weight: 500;
    }

    #client h6 {
        font-weight: 500;
        font-size: 20px;
    }

    .anchor {
        padding-top: 40.35px;
    }

    .client-section a {
        background-color: #3FADD8;
        padding: 12px 26px;
        border-radius: 0px;
        border: 2px solid #3FADD8;
        font-size: 1rem;
        color: white;
        margin-top: 34px;
    }

    #header .heading-font {
        font-family: 'Rubik', sans-serif;
        font-size: 55px;
    }

    .btn-small2 {
        background-color: #3FADD8;
        padding: 13px 13px;
        border-radius: 0px;
        font-size: 0.8rem;
        margin-right: 10px;
    }

    #header span {
        font-size: 18px;
    }

    .btn-small {
        font-size: 0.8rem;
        padding: 12px 0px;
        margin-right: 10px;
    }

    .heading-size {
        font-size: 25px;
        line-height: 127%;
        padding-top: 187px;
    }

    .btn-no {
        font-size: 0.8rem;
        padding: 12px 0px;
        margin-right: 10px;
    }

    .button {
        margin-top: 30px;
    }
}

@media (max-width: 1340px) {
    .btn-small2 {
        background-color: #3FADD8;
        padding: 13px 9px;
        border-radius: 0px;
        font-size: 0.8rem;
        margin-right: 10px;
    }
}

@media (max-width: 1270px) {
    .btn-small2 {
        background-color: #3FADD8;
        padding: 13px 5px;
        border-radius: 0px;
        font-size: 0.6rem;
        margin-right: 10px;
    }

    #old h5 {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    #carwash {
        height: auto;
    }

    .vehicle-progress {
        padding-top: 10px;
    }

    .list-type {
        display: grid;
        padding-right: 0px;
    }

    #drive {
        height: auto;
    }

    #header .heading-font {
        padding-top: 66px;
    }

    #coating {
        height: auto;
    }

    #dollar {
        height: auto;
    }

    br {
        display: none;
    }

    #vehicle-section h4 {
        padding-top: 13px;
    }

    #carwash h4 {
        padding-top: 42px;
    }

    #drive h4 {
        padding-top: 42px;
    }

    #coating h4 {
        padding-top: 42px;
    }

    #dollar h4 {
        padding-top: 42px;
    }

    .carwash-background {
        background-color: #090E21;
        background-image: none;
    }

    .vehicle-background {
        background-color: #090E21;
        background-image: none;
    }

    #vehicle-section {
        height: auto;
    }

    .coating-background {
        background-color: #090E21;
        background-image: none;
    }

    .footer-background {
        background-color: #090E21;
        background-image: url(../images/fotr-responsive.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .drive-background {
        background-color: #090E21;
        background-image: none;
    }

    .dollar-section {
        background-color: #090E21;
        background-image: none;
    }

    .btn-start {
        width: 100%;
    }

    .heading-font {
        font-size: 42px;
    }

    .gray-color a {
        width: 100%;
    }

    h4 {
        font-size: 22px;
    }

    .btn-start {
        background-color: #3FADD8;
        padding: 9px 40px;
        border-radius: 0px;
        font-size: 0.9rem;
    }

    .anchor a {
        font-size: 0.8rem;
    }


    .btn-small {
        width: 100%;
    }

    #carwash {
        height: auto;
    }

    #coating {
        height: auto;
    }

    #client {
        height: auto;
    }

    .header-background {
        background-image: url(../images/bg-mobile.png);
        background-size: cover;


    }


    .carwash-imag {
        background-color: #090E21;
        background-image: none;

    }

    .drive-imag {
        background-color: #090E21;
        background-image: none;

    }

    .coating-imag {
        background-color: #090E21;
        background-image: none;

    }

    .dollar-imag {
        background-color: #090E21;
        background-image: none;
    }

    .btn-no {
        width: 100%;
    }

    .btn-small2 {
        width: 100%;
    }

    #header {
        height: auto;
    }


    .card-imag {
        background-image: url(../images/card-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 30px;
    }

    #vehicle-img {
        background-image: none;
        background-color: #090E21;
    }

    .header-img .img2 {
        top: 0;
    }
}

@media (max-width: 420px) {
    #header .heading-font {
        font-size: 42px;
    }

    .list-type {
        padding-top: 15px;
    }

}

@media (max-width: 360px) {
    #header .heading-font {
        font-size: 38px;
    }

}